@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
#tabla_objetivos_para_evaluar {
width:100%;
}
#tabla_objetivos_para_evaluar td{
padding: 7px;
letter-spacing:1px;
font-size:20px;
font-family: 'Bree Serif', serif;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#tabla_empleados{
width:100%;
}
#tabla_empleados .nombre_empleado {
width: 50%;
padding-top: 1%;
font: 20px 'Open Sans', Helvetica, Arial, sans-serif;
}
#tabla_empleados .nombre_perfil {
width: 30%;
padding-top: 1%;
font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
text-align:center;
}
#tabla_empleados .quitar_empleado {
text-align:center;
width: 20%;
padding-top: 2%;
}
#tabla_empleados td{
width:100%;
font-size:20px;
font-family: 'Josefin Sans', sans-serif;
box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}
#tabla_nuevos_objetivos{
width:100%;
}
#tabla_nuevos_objetivos .nombre_objetivo {
width: 80%;
padding-top: 1%;
font: 20px 'Open Sans', Helvetica, Arial, sans-serif;
}
#tabla__nuevos_objetivos .quitar_objetivo {
text-align:center;
width: 20%;
padding-top: 2%;
}
#tabla_nuevos_objetivos td{
width:100%;
font-size:20px;
font-family: 'Josefin Sans', sans-serif;
box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}
#listItem {
	width:60%;
	background-color:#FFF;
	border:1px solid #DDD;
	text-align:center;
	margin-left:20%;
	font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
	}
#listItem:hover {
box-shadow: inset 0 0 5px 0px green; 
}
#listItem optgroup option	{
	padding:3px 0px 3px 15px;
	font: 15px 'Open Sans', Helvetica, Arial, sans-serif;
	border-bottom-width:1px;
	border-bottom-style:solid;	
	}
#listItem optgroup option:hover	{
background-color: #248348;
}
#listItem2 {
	background-color:#FFF;
	border:1px solid #DDD;
	font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
	text-align:center;
	}
#listItem2:hover {
box-shadow: inset 0 0 5px 0px green; 
}
#listItem2 optgroup option	{
	padding:3px 0px 3px 15px;
	font: 15px 'Open Sans', Helvetica, Arial, sans-serif;
	border-bottom-width:1px;
	border-bottom-style:solid;	
	}
#listItem2 optgroup option:hover	{
background-color: #248348;
}
#asignar_empleados {
margin-top:2px;
font-size: 17px;
color: black;
letter-spacing: 2px;
}
#asignar_perfil {
margin-top:2px;
font-size: 17px;
color: black;
letter-spacing: 2px;
margin-left: 7.4%;
}
#asignaciones {
text-align:center;
}
/***************************************************************************************************************/
#error1,#error2 {
color:red;
}
#error3, .error3{
color:red;
letter-spacing:1px;
font-size:14px;
font-family: 'Bree Serif', serif;
}
.fecha_subtitulo{
color: #248348;
}
.error {
  color:red;
  }
 .fechas{
 text-align:center;
 }
.calendario {
	box-sizing: border-box;
	width: 50%;
	height: 39px;
	padding: 8px 10px;
	border-width: 2px;
	border-style: solid;
	background: #fff;
	font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	margin-right: 13px;
	border-color: #E2E2E2;
}
.calendario:hover{
	border-color: #248348;
}
.calendario:focus{
	border-color: #A7A7A7;
}
label.error {
	color: red; 
	font-size: 14px;
	}
label.error2 {
	color: red; 
	font-size: 18px;
	text-align:center;
	}
  .alta_periodo {
	margin-top: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;	
}
.radios{
	font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
	}
  .alta_periodo header {
	display: block;
	padding: 10px 20px;	
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.89);
	font-size: 25px;
	font-weight: 300;
	color: #232323;
	text-align:center;
    font-weight: normal;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background-color: #E5E5E5;
}
  .alta_periodo fieldset {
	padding: 12px 15px 5px;
	border: none;
	background-color: #F0F0F0;
}
  .alta_periodo fieldset + fieldset {
	border-top: 1px solid rgba(0,0,0,.1);
}
  .alta_periodo section {
	margin-bottom: 15px;
}
  .alta_periodo .input,
  .alta_periodo .select,
  .alta_periodo .textarea,
  .alta_periodo .radio,
  .alta_periodo .checkbox,
  .alta_periodo .toggle,
  .alta_periodo .button {
	position: relative;
	display: block;
}
  .alta_periodo .input input,
  .alta_periodo .select select,
  .alta_periodo .textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
}
/**/
/* textareas */
/**/
  .alta_periodo .textarea textarea {
	height: auto;
	resize: none;
}
  .alta_periodo .textarea-resizable textarea {
	resize: vertical;	
}
  .alta_periodo .textarea-expandable textarea {
	height: 39px;
}
  .alta_periodo .textarea-expandable textarea:focus {
	height: auto;
}
/**/
/* buttons */
/**/
  .alta_periodo .button {
	float: right;
	height: 39px;
	overflow: hidden;
	margin: 10px 0 0 20px;
	padding: 0 25px;
	outline: none;
	border: 0;
	font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
		border-radius:5px;
}
/**/
/* tooltips */
/**/
  .alta_periodo .tooltip {
	position: absolute;
	z-index: 1;
	left: -9999px;
	padding: 2px 8px 3px;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	background: #248348;
	color: #fff;
	opacity: 0;
	transition: margin 0.3s, opacity 0.3s;
	-o-transition: margin 0.3s, opacity 0.3s;
	-ms-transition: margin 0.3s, opacity 0.3s;
	-moz-transition: margin 0.3s, opacity 0.3s;
	-webkit-transition: margin 0.3s, opacity 0.3s;
}
  .alta_periodo .tooltip:after {
	content: '';
	position: absolute;
}
  .alta_periodo .input input:focus + .tooltip,
  .alta_periodo .textarea textarea:focus + .tooltip {
	opacity: 1;	
}
  .alta_periodo .tooltip-top-right {
	bottom: 100%;
	margin-bottom: 15px;
}
  .alta_periodo .tooltip-top-right:after {
	top: 100%;
	right: 16px;	
	border-top: 4px solid rgba(0,0,0,0.9);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
  .alta_periodo .input input:focus + .tooltip-top-right,
  .alta_periodo .textarea textarea:focus + .tooltip-top-right {
	right: 0;
	left: auto;
	margin-bottom: 5px;
}
  .alta_periodo .tooltip-top-left {
	bottom: 100%;
	margin-bottom: 15px;
}
  .alta_periodo .tooltip-top-left:after {
	top: 100%;
	left: 16px;
	border-top: 4px solid rgba(0,0,0,0.9);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
  .alta_periodo .input input:focus + .tooltip-top-left,
  .alta_periodo .textarea textarea:focus + .tooltip-top-left {
	right: auto;
	left: 0;
	margin-bottom: 5px;
}
  .alta_periodo .tooltip-right {
	top: 9px;
	white-space: nowrap;
	margin-left: 15px;
}
  .alta_periodo .tooltip-right:after {
	top: 6px;
	right: 100%;
	border-top: 4px solid transparent;
	border-right: 4px solid rgba(0,0,0,0.9);
	border-bottom: 4px solid transparent;
}
  .alta_periodo .input input:focus + .tooltip-right,
  .alta_periodo .textarea textarea:focus + .tooltip-right {
	left: 100%;
	margin-left: 5px;
}
  .alta_periodo .tooltip-left {
	top: 9px;
	white-space: nowrap;
	margin-right: 15px;
}
  .alta_periodo .tooltip-left:after {
	top: 6px;
	left: 100%;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid rgba(0,0,0,0.9);
}
  .alta_periodo .input input:focus + .tooltip-left,
  .alta_periodo .textarea textarea:focus + .tooltip-left {
	right: 100%;
	left: auto;
	margin-right: 5px;
}
  .alta_periodo .tooltip-bottom-right {
	top: 100%;
	margin-top: 15px;
}
  .alta_periodo .tooltip-bottom-right:after {
	bottom: 100%;
	right: 16px;	
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(0,0,0,0.9);
	border-left: 4px solid transparent;
}
  .alta_periodo .input input:focus + .tooltip-bottom-right,
  .alta_periodo .textarea textarea:focus + .tooltip-bottom-right {
	right: 0;
	left: auto;
	margin-top: 5px;
}
  .alta_periodo .tooltip-bottom-left {
	top: 100%;
	margin-top: 15px;
}
  .alta_periodo .tooltip-bottom-left:after {
	bottom: 100%;
	left: 16px;
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(0,0,0,0.9);
	border-left: 4px solid transparent;
}
  .alta_periodo .input input:focus + .tooltip-bottom-left,
  .alta_periodo .textarea textarea:focus + .tooltip-bottom-left {
	right: auto;
	left: 0;
	margin-top: 5px;
}
/**/
/* normal state */
/**/
  .alta_periodo .input input,
  .alta_periodo .select select,
  .alta_periodo .textarea textarea,
  .alta_periodo .radio i,
  .alta_periodo .checkbox i,
  .alta_periodo .toggle i,
  .alta_periodo .icon-append,
  .alta_periodo .icon-prepend {
	border-color: #e5e5e5;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
  .alta_periodo .toggle i:before {
	background-color: #2da5da;	
}
  .alta_periodo .rating label {
	color: #ccc;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
  .alta_periodo .button {
	background-color: #248348;
	opacity: 0.8;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
  .alta_periodo .button.button-secondary {
	background-color: #b3b3b3;
}
  .alta_periodo .icon-append,
  .alta_periodo .icon-prepend {
	color: #ccc;
}
/**/
/* hover state */
/**/
  .alta_periodo .input:hover input,
  .alta_periodo .select:hover select,
  .alta_periodo .textarea:hover textarea,
  .alta_periodo .radio:hover i,
  .alta_periodo .checkbox:hover i,
  .alta_periodo .toggle:hover i {
	border-color: #248348;
}
  .alta_periodo .rating input + label:hover,
  .alta_periodo .rating input + label:hover ~ label {
	color: #248348;
}
  .alta_periodo .button:hover {
	opacity: 1;
}
  .alta_periodo .button:active {
	opacity: 1;
	background-color: #000000;
}
/**/
/* focus state */
/**/
  .alta_periodo .input input:focus,
  .alta_periodo .select select:focus,
  .alta_periodo .textarea textarea:focus,
  .alta_periodo .radio input:focus + i,
  .alta_periodo .checkbox input:focus + i,
  .alta_periodo .toggle input:focus + i {
	border-color: #A7A7A7;
}	
#div_titulo {
margin-top: 3px;
margin-bottom: 3%;
text-align:center;
padding-bottom:5px;
padding-top:5px;
border-radius:2px;
background-color: #759280;
box-shadow: 0 0 5px rgba(0,0,0,.2);
}
@media only screen and (max-width: 1279px) {
#asignar_perfil {
margin-left: 10.5%;
}
}
@media only screen and (max-width: 995px) {
#asignar_perfil {
margin-left: 14%;
}
.perfil {
display:none;
}
.nombre_perfil {
display:none;
}
}
@media only screen and (max-width: 767px) {
#asignar_perfil {
margin-left: 11.5%;
}
  .alta_periodo fieldset {
	padding: 5px 5px 5px;
}
}
@media only screen and (max-width: 479px) {
#asignaciones{
text-align:center;
}
#asignar_perfil {
margin-left: 0px;
}
  .alta_periodo fieldset {
	padding: 1px 10px 5px;
}
.alta_periodo .button {
	float: none;
	padding: 0 10px;
	margin-left:35%;
}
}