@import "reset.css";
@import "skeleton.css";
@import "superfish.css";
@import url(http://fonts.googleapis.com/css?family=Neucha);


#divErrores_contacto {

margin-top: 15%;
border:collapse;

box-shadow: 1px 1px 1px 1px rgba(0, 0, 0.2, 0.3);
}

.button3 {
	overflow: hidden;
	outline: none;
	border: 0;
	font: 500 15px/20px 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	border-radius:5px;
	background-color: #248348;
	opacity: 0.8;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	padding:7px;
}


  .button3:hover {
	opacity: 1;
}
  .button3:active {
	opacity: 1;
	background-color: #000000;
}






.aclaracion{

	text-align: center;
	font:17px Simplified Arabic Fixed;
	display: block;
	color:#248348;
}


.button2 {
	overflow: hidden;
	outline: none;
	border: 0;
	font: 500 15px/20px 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	border-radius:5px;
	background-color: #000000;
	position:relative;
	opacity: 0.6;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	padding: 4px;
}

  .button2:hover {
	opacity: 1;
		color: #fff;
		background-color:#E01212;

}
  .button2:active {
	opacity: 1;
	background-color: #000000;
		color: #fff;

}





.aclaracion2{
	font:17px Simplified Arabic Fixed;
	display: block;
	color:#248348;
}

#tabla_ranking{
text-align:center;
width: 100%;
}
#tabla_ranking td {
letter-spacing:1px;
font-size:22px;
font-family: 'Josefin Sans', sans-serif;
padding: 5px;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.eliminar {
color:#FF0000;
font-size:15px;
}
.eliminar:hover{
color:#FF0000;
text-shadow: 1px 1px 1px #A3A3A3;
}
.modificar {
color:#1500FF;
font-size:15px;
}
.modificar:hover{
color:#1500FF;
text-shadow: 1px 1px 1px #A3A3A3;
}
#columna1, #columna2 {
text-align:center;
}
#guardar{
text-align:right;
}
.texto3{
font-family: 'Lora', serif;
font-size:18px;
font-style:italic;
color: #000;
text-shadow: 1px 1px 1px #A3A3A3;
text-align: center;
}
.texto2{
font:21px 'Open Sans', serif;
color: #000;
text-shadow: 1px 1px 1px #A3A3A3;
text-align: center;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
border-radius: 5px;
}
#dejar_espacio {
padding-bottom:50%;
}
#dejar_espacio2 {
padding-bottom:30%;
}
#dejar_espacio3 {
padding-bottom:26.4%;
}
#dejar_espacio4 {
padding-bottom:15%;
}

#dejar_espacio5 {
padding-bottom:20px;
}

.fecha{
margin-top:6%;
font: 500 17px 'Open Sans', Monospace;
}
#flecha_atras img:hover{
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); 
-webkit-transform: scale(1,1); 
-moz-transform: scale(1,1); 
-ms-transform: scale(1,1); 
-o-transform: scale(1,1); 
transform: scale(1.01,1.01);
-webkit-transition: all .8s linear; 
-moz-transition: all .2s linear; 
-ms-transition: all .2s linear; 
-o-transition: all .2s linear; 
transition: all .2s linear; 
border-radius: 25px;
}
#periodos{
text-align:center;
}
.texto{
color: #000;
text-shadow: 1px 1px 12px #A3A3A3;
font:19px 'Open Sans', serif;
}
input[type=button] {
	font-size: 16px;
	color: #fff;
	background-color: #3B3B3B;
	opacity:1;
	border: 1px solid black;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}
input[type=button]:hover {
background-color: #292929;
}
#about{
			margin-top:1%;
 			background-color: #C8DFCA;
			font-size: 0.875em;
			border: 1px solid #fff;
			text-align: center;
			margin-bottom:2%;
			font-size:19px;
font-family: 'Neucha', cursive;
}
#about p {
 			padding: 7px;
}
html {
	width: 100%;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
* {
	-webkit-text-size-adjust: none;
}
body {
	position: relative;
    color: #666;
    font: 300 15px/20px 'Open Sans', sans-serif;
	background-color: #DDDDDD;
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
strong {
	font-weight: 700;
}
address {
	font-style: normal;
}
p {
	margin-bottom: 20px;
}
input {
	border-radius: 0 !important;
	outline: none !important;
}
img {
	max-width: 100%;
}
/****Heads****/
h1, h2, h3, h4, h5 {
    font-family: 'Dorsa', sans-serif;
    font-weight: normal;
	color: #248348;
}
h2 {
    font-size: 60px;
    line-height: 50px;
    padding-top: 76px;
    margin-bottom: 36px;
}
.page1 h2 {
    padding-top: 85px;
    margin-bottom: 23px;
}
h3 {
    font-size: 48px;
    line-height: 50px;
    padding-top: 38px;
}
h3.head1 {
    padding-top: 26px;
    margin-bottom: 20px;
}
h4 {
    padding-top: 28px;
    font-size: 36px;
    margin-bottom: 10px;
}
h4.head1 {
    padding-top: 120px;
}
ul.list+h4 {
    margin-top: 1px;
}
.subtitulo {
	font-size: 23px;
	font-weight: 300;
	color: #ffffff;
	text-align:center;
	font-family: 'Lora', serif;
}
.subtitulo2 {
font-size: 18px;
color: black;
text-align:center; 
letter-spacing: 2px;
font-weight:bold;
}
.subtitulo3 {
color: #000;
letter-spacing:1px;
font-size:20px;
font-family: 'Josefin Sans', sans-serif;
}
.centrar {
	text-align:center;
	}
/****Links****/
a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
a:hover {
	color: #248348;
}
a.btn {
    margin-top: 15px;
    display: inline-block;
    padding: 5px 10px 3px;
    background-color: #248348;
    color: #fff;
    font: 400 25px/25px 'Dorsa', sans-serif;
}
.page1 a.btn {
    margin-top: 27px;
}
a.btn:hover {
    background-color: #000;
}
.clear {
	float: none !important;
	clear: both;
}
/*header*/
header {
	display: block;
}
header h1 {
	position: relative;
	text-align: center;
    float: left;
}
header h1 a {
	display: inline-block;
	overflow: hidden;
	width: 220px;
    height: 116px;
	font-size: 0;
	line-height: 0;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
header h1 a img {
	display: block;
}
.page1_block {
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 33px;
}
/**Content**/
.content {
    padding-bottom: 43px;
}
.tt-grid-wrapper {
    margin-bottom: 6px;
}
.opcion img{
border-radius: 15px;
box-shadow: 0 4px 2px rgba(1, 1, 1, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
border: 1px solid #D2D2D2;
}
.opcion a img:hover {
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); 
-webkit-transform: scale(1,1); 
-moz-transform: scale(1,1); 
-ms-transform: scale(1,1); 
-o-transform: scale(1,1); 
transform: scale(1.01,1.01);
-webkit-transition: all .8s linear; 
-moz-transition: all .2s linear; 
-ms-transition: all .2s linear; 
-o-transition: all .2s linear; 
transition: all .2s linear; 
}
.opcion{
margin-bottom:30px;
text-align:center;
}
.clear.cl1 {
    height: 20px;
}
.clear.cl2 {
    height: 45px;
}
/**Map**/
.map {
    overflow: hidden;
    position: relative;
    padding-top: 3px;
}
.map figure {
    position: relative;
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.map figure iframe {
	width: 100%;
	height: 500px;
	max-width: 100%;
}
/**Footer**/
footer {
	display: block;
    text-align: center;
    padding: 0px 0 57px;
    font-size: 12px;
    color: #8c8989;
    line-height: 14px;
	}
.socials {
    font-size: 0;
    line-height: 0;
    padding-top: 2%;
	border-top:1px solid #CCCCCC;
}
.socials a>span { /*facebook*/
    display: inline-block;
    width: 49px;
    color: #fff;
    font-size: 18px;
    line-height: 45px;
    height: 49px;
    border-radius: 500px;
    background-color: #597d9a;
    border: 2px solid #316894;
}
.socials a>span:hover{
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); 
-webkit-transform: scale(1,1); 
-moz-transform: scale(1,1); 
-ms-transform: scale(1,1); 
-o-transform: scale(1,1); 
transform: scale(1.01,1.01);
-webkit-transition: all .8s linear; 
-moz-transition: all .2s linear; 
-ms-transition: all .2s linear; 
-o-transition: all .2s linear; 
transition: all .2s linear; 
}
.socials section+section {
    margin-left: 7px;
}
.socials * {
    white-space: nowrap !important;
}
.socials section+section>a>span {  /*twitter*/
    background-color: #589dd4;
    border-color: #4885b6;
}
.socials section+section+section>a>span { /*google +*/
    background-color: #d73d32;
    border-color: #E42000;
}
.socials section+section+section {
    margin-left: 8px;
}
.socials section {
    display: inline-block;
}
.copy {
	margin-top:1%;
    font-weight: normal;
	color:#000;
	margin-bottom:3%;
}
#toTop {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 400px;
    overflow: hidden;
    width: 42px;
    height: 45px;
    background: url(../images/totop.png) no-repeat left 0;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
	border-radius:7px;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
 body {
 min-width: 768px;
}

#divErrores_contacto {

margin-top: 20%;
border:collapse;

box-shadow: 1px 1px 1px 1px rgba(0, 0, 0.2, 0.3);
}


.fl1 {
    float: none;
    margin-left: 0 !important;
    width: auto;
}
 .map figure,  .map figure iframe,  #form input,  #form textarea,  #form .success {
 width: 100% !important;
 float: none !important;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}
 .extra_wrapper {
 overflow: visible;
}
.map figure {
	margin-bottom: 15px;
}
.nowrap {
    white-space: normal;
}
.caption .price {
    display: none;
}
.caption {
    padding-top: 20px;
}
.camera_prev {
    margin-left: -374px;
} 
.camera_next  {
    margin-right: -374px;
}
.fl1.fl2 {
    clear: both;
}

#lista_empleados{
margin-top:2%;
font-size: 17px;
}
#lista_empleados a:hover {
font-size: 17px;
text-decoration: underline;
}
}
@media only screen and (max-width: 767px) {
body {
    min-width: 420px;
}
header {
    -webkit-background-size: auto auto !important;
    -moz-background-size:  auto auto !important;
    -ms-background-size:  auto auto !important;
    -o-background-size:  auto auto !important;
    background-size:  auto auto !important;
}


#divErrores_contacto {

margin-top: 1%;
border:collapse;

box-shadow: 1px 1px 1px 1px rgba(0, 0, 0.2, 0.3);
}


.map address +address {
    margin-left: 0;
    float: none;
    margin-top: 20px;
}
.socials {
    float: none;
    overflow: hidden;
}
header h1 {
	display: block;
	width: auto;
    position: relative;
	height: auto;
    margin-bottom: 20px;
}
h1 a {
	max-width: 90%;
}
.img_inner img {
	width: 100%;
}
header h1 {
    float: none;
    text-align: center;
}
header h1 a {
 	width: auto;
 	display: inline-block;
    height: auto;
}
 .map {
 	padding-right: 0px !important;
 }
 .map figure iframe {
 width: 100%;
 height: 300px;
}
 .map address {
 	margin-right: 0;
}
.noresize {
 width: auto !important;
 float: left !important;
 margin-right: 20px !important;
 margin-top: 4px !important;
}
 .img_inner {
 margin-top: 30px;
}
.map address {
    float: none;
}
.ui-datepicker {
    width: 280px;
}
#container form {
text-align:center;
}
#espacio{
display:none;
}
#titulo_fechas{
margin-left: 0;
}
.fecha{
margin-top:2%;
padding-bottom: 5%;
}
#lista_fechas{
margin-top:2%;
padding-bottom: 5%;
}
.texto3{
font-size:15px;
}
#guardar{
margin-top:25px;
}
}
@media only screen and (max-width: 479px) {
 body {
 min-width: 300px;
}
#bookingForm > strong + .controlHolder {
    width: 210px;
}
.ui-datepicker {
    left: 50% !important;
    margin-left: -140px;
}
#espacio{
display:none;
}
#titulo_fechas{
margin-left: 0;
}
.texto3{
font-size:13px;
}
}